@import "../../style.scss";

.modal {
  @include themify($themes) {
    background-color: themed("bgSoft");
    height: 100%;

    @include mobile {
      height: 100vh;
    }

    @include tablet {
      height: 100vh;
    }

    .modules {
      display: flex;

      .closeIcon {
        color: themed("textColor");
      }
    }

    .cards {
      display: flex;
      gap: 20px;
      justify-content: center;
      align-items: center;
      margin-top: 200px;

      .element {
        background-color: gray;
        width: 30vh;
        height: 40vh;
        border-radius: 2vh;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        cursor: pointer;

        @include mobile {
          width: 20vh;
          height: 30vh;
          font-size: 15px;
        }

        @include tablet {
          width: 20vh;
          height: 30vh;
          font-size: 15px;
        }

        .icon {
          font-size: 40px;
          color: themed("textColor");
        }

        span {
          color: themed("textColor");
          display: flex;
          justify-content: center;
          align-items: center;
          text-align: center;
        }
      }
    }
  }
}