@import "../../style.scss";

.navBar {
  @include themify($themes) {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 20px;
    height: 50px;
    border-bottom: 1px solid themed("border");
    position: sticky;
    top: 0;
    background-color: themed("bg");
    color: themed("textColor");
    z-index: 998;

    .left {
      display: flex;
      align-items: center;
      gap: 10px;

      .IconButtons {
        color: themed("textColor");

        .profileIcon {
          display: none;

          @include mobile {
            display: inline-block;

            @include tablet {
              display: inline-block;
            }
          }
        }
      }

      span {
        font-weight: bold;
        font-size: 20px;
        color: themed("logo");
      }
    }

    .search {
      display: flex;
      position: relative;
      align-items: center;
      gap: 10px;
      border: 1px solid themed("border");
      border-radius: 5px;
      padding: 5px;
      cursor: pointer;

      input {
        border: none;
        width: 500px;
        height: 30px;
        background-color: transparent;
        color: themed("textColor");

        @include mobile {
          display: none;
        }
        @include tablet {
          width: 200px;
        }
      }

      .userList {
        position: absolute;
        width: 545px;
        height: auto;
        left: 0;
        right: 0;
        top: 50px;
        color: themed("textColor");
        background-color: themed("bg");
        border-radius: 5px;

        li {
          display: flex;
          justify-content: space-between;
          padding: 10px;
          list-style: none;
          border-radius: 5px;
        }

        li:hover {
          background-color: themed("bgSoft");
        }
      }
    }

    .right {
      display: flex;
      align-items: center;
      gap: 20px;

      @include mobile {
        display: none;
      }

      .IconButtons {
        color: themed("textColor");
      }

      .user {
        position: relative;
        display: flex;
        align-items: center;
        gap: 10px;
        font-weight: bold;

        .dropdownContent {
          color: themed("textColor");
          display: flex;
          padding: 20px;
          flex-direction: column;
          justify-content: center;
          align-items: center;
          position: absolute;
          top: calc(100% + 15px);
          right: -20px;
          width: 150px;
          background-color: themed("bg");
          gap: 20px;
          border: 1px solid themed("border");
          border-radius: 12px;

          .open {
            max-height: 300px;
          }

          .menuItem {
            color: themed("textColor");
            display: flex;
            gap: 2px;
            height: 40px;
            width: 100%;
            align-items: center;
            justify-content: center;
            transition-duration: 0.2s;
            cursor: pointer;
          }

          .menuItem:hover {
            color: themed("bgSoft");
          }
        }

        hr {
          border: none;
          height: 0.5px;
          width: 80%;
          background-color: themed("border");
        }

        @include tablet {
          display: none;
        }
        img {
          width: 40px;
          height: 40px;
          border-radius: 50%;
          object-fit: cover;
          cursor: pointer;
        }
        span {
        }
      }
    }
  }
}
